
<div *ngIf="!isBanned">
    <div class="question-card" *ngIf="question"> 
        <h2>{{ question.questionText }}</h2> 
        <ul> 
            <li *ngFor="let option of question.options"> 
                <label> <input type="radio" name="options" [value]="option.optionId" [checked]="selectedOptionId === option.optionId" (change)="selectOption(option.optionId)"> {{ option.optionText }} </label> 
            </li> 
        </ul> 
    </div>

    <div class="verify-button-container" style="text-align: center;">
        <button (click)="verifyCaptchaAnswer()">Cevapla</button>
    </div>

    <div class="voice-answer-container" style="text-align:center; margin-top: 20px;">
        <button class="btn btn-secondary" (click)="listenWithAzure()">Sesli Yanıtla</button>
        <button class="btn btn-info" style="margin-left:10px;" (click)="readQuestionAndOptionsAsOneText()">Soruyu Dinle</button>
    </div>
</div>

 <app-custom-alert
    [show]="showAlert"
    [message]="alertMessage"
    (closed)="onAlertClosed()">
</app-custom-alert>

